* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(abstract-paper-background-concept_23-21488126901.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
}
.system {
    background-color: rgba(65, 143, 95, 0.274);
    width: 800px;
    height: 955px;
    text-align: center;
    align-content: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    border-radius: 0 30px 30px 0;
    box-shadow: 10px 10px 12px rgb(2, 77, 48);
}
.system1 {
    width: 1020px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.system1 h1 {
    font-size: 50px;
}
.system1 form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input[type="text"], input[type="password"]{
    padding: 5px;
    font-size: 20px;
    width: 400px;
    border-radius: 15px 0 15px 0;
    transition: 0.2 ease-in;
}
input[type="text"]:focus, input[type="password"]:focus{
    padding: 5px;
    font-size: 20px;
    width: 400px;
    border-radius: 0 15px 0 15px;
    transition: 0.2 ease-in;
}
.system1 button{
    width: 150px;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
    background-color: #007BFF;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.2 ease-in;
}
.system1 button:hover{
    width: 150px;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
    background-color: #030303;
    color: rgb(255, 254, 254);
}